name: CI/CD Build & Deploy to DeployAja

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  GH_REGISTRY: ghcr.io
  REGISTRY: ghcr.io/atillasatriaputra/keywordia
  IMAGE_NAME: keywordia

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.GH_REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.PERSONAL_ACCESS_TOKEN }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.sha }}
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest

  deploy:
    runs-on: ubuntu-latest
    needs: build-and-push
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: DeployAja Plan
        uses: deployaja/deployaja-cli@v0.0.10
        with:
          command: plan
          api-token: ${{ secrets.DEPLOYAJA_TOKEN }}

      - name: DeployAja Deploy
        uses: deployaja/deployaja-cli@v0.0.10
        with:
          command: deploy
          api-token: ${{ secrets.DEPLOYAJA_TOKEN }}
          additional-args: >
            --set container.image=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.sha }}

      - name: DeployAja Status
        uses: deployaja/deployaja-cli@v0.0.10
        with:
          command: status
          api-token: ${{ secrets.DEPLOYAJA_TOKEN }}
