name: Docker Build and Publish and Deploy to DeployAja

on:
  push:
    branches: [ "master" ]

env:
  REGISTRY: ghcr.io/satriaaa766/keywordia
  GH_REGISTRY: ghcr.io
  IMAGE_NAME: keywordia
  DOCKER_BUILDKIT: 1

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.GH_REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.PERSONAL_ACCESS_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: ${{ env.REGISTRY }}:${{ github.sha }}

  deploy:
    runs-on: ubuntu-latest
    needs: build-and-push
    if: github.event_name == 'push'
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: DeployAja Deploy
        uses: deployaja/deployaja-cli@v0.0.10
        with:
          command: deploy
          api-token: ${{ secrets.DEPLOYAJA_TOKEN }}
          additional-args: |
            --set container.image=${{ env.REGISTRY }}:${{ github.sha }}
            --set replicas=1
            --set resources.replicas=1
